<html>

<head>
  <link
    href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic'
    rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>XNT</title>
  <meta name="viewport" content="width=device-width">

</head>

<body>
  <div class="head">
    <div class="headerobjectswrapper">
      <div class="weatherforcastbox"><span style="font-style: italic;"></span> The last Arxiv papers, summarized
        by <i>davinci
          gpt3</i>
        </span><br><span> price: {{ "%.3f" | format(tot_cost)}}$</span></div>
      <header>AI research news</header>
    </div>

    <div class="subheadwrapper">
      <div class="subhead">{{date}}</div>
      <div class="price"></div>
    </div>
  </div>
  <div class="content">
    <div class="collumns">
      {% for paper in papers: %}
      <div class="collumn">
        <div class="head"><span class="headline hl3">{{paper['title']}}</span>
          <p><span class="headline hl4">by gpt3 - {{paper['update_datetime'].split("T")[0]}}</span></p>
        </div>
        {{paper['abstract-summary']['text']}}
      </div>

      {% endfor %}
    </div>
  </div>

</body>

</html>